* {
    margin: 0;
    padding: 0;
  }

html {
  scroll-behavior: smooth;
}
  
a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
a:hover {
    opacity: 0.7;
  }
  
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -3px;
  }

.nav-header {
  position: fixed;
  width: 100%;
}
  
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
    transition: 300ms ease;
  }
  
.nav-list {
    list-style: none;
    display: flex;
  }
  
.nav-list li {
    letter-spacing: -1px; /*espacos entre as letras */
    margin-left: 32px;
  }
  
.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
.nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 1s ease-in;
    }
.nav-list li {
      margin-left: 0;
      opacity: 0;
    }
.mobile-menu {
      display: block;
    }
}
main {
  background: url(img/mulher-comput.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-menu {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
}

.text-menu h1 {
  max-width: 70%;
  text-align: center;
}

#sobre {
  padding-top: 1px;
  background: url(img/sala-de-work.jpg)no-repeat center center;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sobre h2 {
  font-size: 30px;
  letter-spacing: -1px;
}
#sobre p {
  letter-spacing: 2px;

}

.text-inicial  {
  font-family: arial;
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  margin-top: 30px;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
  height: 70%;
  flex-direction: column;
  background-color:rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

p {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#servico{
  padding-top: 150px;
  color: white;
  background:  black;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: top;
}
.servico-um img, p, h2 {
  font-size: 9px;
  border-radius: 5px;
  width: 300px;
  height: cover;
  margin-left: 30px;
  margin-top: 4px;
}

.servico-dois img, p, h2{
  font-size: 20px;
  border-radius: 5px;
  margin-top: 5px;
  width: 300px;
  height: cover;
  margin-left: 30px;
}

.servico-tres img, p, h2{
  font-size: 15px;
  border-radius: 5px;
  width: 300px;
  height: cover;
  margin-left: 30px;
}

.servico-quatro img {
  font-size: 15px;
  width: 300px;
  border-radius: 5px;
  height: cover;
  margin-left: 30px;
}
#servico h2 {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#servico p {
  font-size: 16px;
}

#servico a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: baseline;
  margin-left: 30px;
  color: #1c01b6;
}

#produtos{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #1e075e;
  background: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
button{
  margin: 8px;
  transition: 0.3s;
  background:#1c01b6;
  color: white;
  border: solid 1px white;
  height: 50px;
  width: 160px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  border-radius: 6px;
  transform: translateX(0%);
  transition: transform 1s ease-in;
 }
 .placa-video img {
  width: 270px;
  height: auto;
  margin-left: 2px;
}

.processador img {
  width: 270px;
  height: auto;
  margin-left: 2px;
}

.placa-mae img {
  width: 270px;
  height: auto;
  margin-left: 2px;
}

.hd img {
  width: 270px;
  height: auto;
  margin-left: 2px;
}

.git img {
  height: 50px;
  width: auto;
  margin-left: 550px;
}

.texto-inicial{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
}

footer {
  padding: 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background: black;
  color: white;
  height: 8vh;
}